.content {
    background: white url('../../utils/images/background_homepage.png');
    width: 1366px;
    height: 572px;
}

.content__main {
    display: flex;
    align-items: center;
    background: linear-gradient(181.66deg, rgba(30, 30, 30, 0.81) 50%, rgba(65, 65, 65, 0.5994) 115.95%);
}