.content {
    -moz-background-size: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../utils/images/background_homepage.png');
    height: 572px;
}

.content_position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__main_image {
    width: 614px;
    height: 459px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 497px;
    height: 281px;
    background: linear-gradient(181.66deg, rgba(30, 30, 30, 0.81) 50%, rgba(65, 65, 65, 0.5994) 115.95%);
}

.content__main_text_title {
    margin: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.content__main_text_info {
    margin: 0 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #FFFFFF;
}

.content__main_button {
    user-select: none;
    cursor: pointer;
    margin: 30px;

    width: 220px;
    height: 41px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #4770FF 0%, rgba(0, 0, 0, 0.67) 100%);
    border-radius: 30px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.content__main_button:hover {
    color: lightcyan;
}