.content {
    height: 523px;
    background: url('../../../utils/images/background_contacts.png');

    display: flex;
    align-items: center;

}

.content__block {
    width: 630px;
    height: 405px;
    margin-left: 99px;

    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content__block_title {
    margin-left: 73px;
    margin-top: 33px;
    text-align: start;
}

.content__block_text {
    margin-left: 72px;
    margin-down: 0;

    display: grid;
    grid-template-areas:
    "a w"
    "n p";

}

.content__block_address {
    gird-area: a;
}

.content__block_watch {
    grid-area: w;
}

.content__block_number {
    grid-area: n;
}

.content__block_phone {
    grid-area: p;
}

.content__button {
    margin-top: 25px;
    margin-left: 73px;

    width: 206px;
    height: 37px;

    font-size: 18px;
    line-height: 22px;
}