.content {
    width: 364px;
    height: 464px;
    background: linear-gradient(171.83deg, #C5C5C5 8.53%, rgba(231, 231, 231, 0.3) 93.72%);
    border: 1px solid rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
}

.content__image {
    margin: 24px 36px 0 36px;
}

.content__title {
    margin: 0 36px;
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #333333;

    border-bottom: 1px solid #808080;;
}

.content__buttons {
    width: 133px;
    height: 28px;
}

.content__main_button {
    margin: 20px 36px;
    display: flex;
    justify-content: space-around;
}

.content__cost {
    margin: 10px 47px;
    display: flex;
    align-items: flex-start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #333333;
}

.content__cost_info {
    margin: 0 0 0 30px;
}