.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;
}

.content__contact {
    display: flex;
    color: white;
    align-items: center;
}

.content__contact_icon {
    margin: 5px 3px 0 0;
}

.content__text {
    color: white;
    text-decoration: none;
}

.content__text:hover {
    color: lightcyan;
}